@model OrangeBricks.Web.Controllers.Property.ViewModels.MakeAppointmentViewModel

@{
    ViewBag.Title = "MakeAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make Appointment</h2>

<p>When would you like to take a look at @Model.Property.StreetName?</p>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date datetimepicker' id="datetimepicker1">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>
</div>