@model OrangeBricks.Web.Controllers.Property.ViewModels.MakeAppointmentViewModel

@{
    ViewBag.Title = "MakeAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make Appointment</h2>

<p>When would you like to take a look at @Model.Property.StreetName?</p>

