@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@{
    ViewBag.Title = "My Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Offers</h2>

@if (Model.Offers.Any())
{
    <p>Here is a list of your offers:</p>

    foreach (var offer in Model.Offers)
    {
        var property = offer.Property;
        <hr />
        <h3>@property.StreetName</h3>
        <p>Amount: £@offer.Amount.ToString("N0")</p>
        <p>Status: <span class="@offer.Status.ToString().ToLower()">@offer.Status</span></p>
    }
}
else
{
    <p>You have not placed any offers. Click @Html.ActionLink("here", "Index", "Property") to go view properties!</p>
}